div {
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    /* Otra forma de definir el borde es en una sola línea usando un shorthand */
    /* border: 2px solid black; */
    width: 200px;
    margin-bottom: 8px;
    padding: 4px;
}

.selected {
    background-color: aquamarine;
    border-color: blue;
    border-style: dashed;
    margin-left: 30px;
}