* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #1c1c7f;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .gallery img {
        /* Selector de descencencia */
        max-width: 400px;
    }

    body {
        background-image: url("raspitas.jpg");
    }
}